<h1 class="center white-text">Shades For Days</h1>
<hr>
<div class="carousel">
  <a class="carousel-item" href="#one!"><img src="https://consequenceofsound.files.wordpress.com/2017/08/converge-the-dusk-in-us-artwork.jpg?quality=80"></a>
  <a class="carousel-item"><img src="http://mixmag.net/assets/uploads/images/_twoThirds/Four-Tet-New-Energy.jpg"></a>
  <a class="carousel-item"><img src="https://i.pinimg.com/originals/e4/9d/bd/e49dbda78803e91b117dbc8f3e6987cd.jpg"></a>
  <a class="carousel-item"><img src="http://cdn.albumoftheyear.org/album/menos-el-oso.jpg"></a>
  <a class="carousel-item"><img src="https://upload.wikimedia.org/wikipedia/en/6/6b/Toro_y_Moi_-_Anything_in_Return.png"></a>
  <a class="carousel-item"><img src="http://www.progarchives.com/progressive_rock_discography_covers/9175/cover_5937721102017_r.jpg"></a>
  <a class="carousel-item"><img src="http://louderthanwar.com/wp-content/uploads/2016/02/cover.jpg"></a>
  <a class="carousel-item"><img src="https://f4.bcbits.com/img/a2058645110_10.jpg"></a>
  <a class="carousel-item"><img src="https://fiu-assets-2-syitaetz61hl2sa.stackpathdns.com/static/use-media-items/54/53094/full-1000x1000/593957c6/my_bloody_valentine_loveless.jpeg?resolution=0"></a>
  <a class="carousel-item" href="#item8"><img src="https://www.theskylineview.com/wp-content/uploads/2017/05/IMG_3754-1000x1000.jpg"></a>
</div>
<hr>

<h4 class="center blue-text"><%= button_to 'Cart', accounts_path, method: :get, class: "btn waves-effect waves-light grey darken-3" %></h4>
