<h1 class="center white-text">Shades For Days</h1>
<hr>
<div class="carousel">
  <a class="carousel-item"><img src="https://imgur.com/rMC8UVI.png"></a>
  <a class="carousel-item"><img src="https://imgur.com/kj3daWD.png"></a>
  <a class="carousel-item"><img src="https://imgur.com/68OXium.png"></a>
  <a class="carousel-item"><img src="https://imgur.com/K1luXzg.png"></a>
  <a class="carousel-item"><img src="https://imgur.com/hmtXdc3.png"></a>
  <a class="carousel-item"><img src="https://imgur.com/qY2rUSJ.png"></a>
  <a class="carousel-item"><img src="https://imgur.com/pkiTLcb.png"></a>
  <a class="carousel-item"><img src="https://imgur.com/gk29NZr.png"></a>
</div>
<hr>

<h4 class="center blue-text"><%= button_to 'Cart', accounts_path, method: :get, class: "btn waves-effect waves-light grey darken-3" %></h4>
