// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cont_border {
    border: 1px solid white;
}

.item-form {
    background-color: rgba(192, 192, 192, 0.664);
    margin-top: 40px !important;
    padding: 2em 2em 1.5em 2em;
    label {
        color: white;
        font-size: 2em;
    }
    input {
        padding: 10px;
    }

    .waves-input-wrapper {
      margin-top: 25px
    }

    textarea {
        height: 6em;
        padding: 10px;
        resize: none;
    }
}